* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #222831;
    --bg-tela: hsl(30, 25%, 89%);
    --bg-keys: hsla(30, 25%, 89%, 0.911);
    --bg-special-keys: rgb(107, 43, 226);
    --bg-special-keys-hover: rgb(132, 66, 253);
    --bg-special-keys-active: rgba(132, 73, 241, 0.486);
    --bg-color-finish: rgb(208, 63, 47);
    --bg-color-finish-hover: rgb(255, 25, 0);
    --bg-color-finish-active: rgba(228, 28, 6, 0.514);
    --bg-keys-hover: white;
    --bg-keys-active: rgba(243, 243, 243, 0.589);
    --color-special-keys: #F4CE14;
    --color-special-keys-hover: #F4CE14;
    --color-keys: black;
    --color-keys-hover: rgb(119, 60, 228);
    --box-shadow-color: hsl(28, 16%, 65%);
    --box-shadow-color-hover: rgba(149, 101, 238, 0.651);
    --box-shadow-special-color: rgba(0, 0, 0, 0.726);
    --box-shadow-color-special-hover: rgba(135, 90, 226, 0.308);
    --box-shadow-color-finish-hover: rgba(255, 7, 7, 0.432);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    font-weight: 900;
    margin: auto;
    width: 700px;
    margin-top: 80px;
}

#container {
    margin: auto;
    width: 550px;
}

#calculadora {
    align-items: center;
    justify-content: center;
    width: 550px;
    padding: 15px;
    background: #17153b93;
    border-radius: 50px;
}

#container #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container #header i {
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin: 5px 15px;
}

#container #section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container #section #tela #result {
    background-color: var(--bg-tela);
    height: 75px;
    width: 530px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-radius: 30px;
    border: none;
    margin: 10px;
}

#container #section #teclas table tr {
    display: flex;
    gap: 10px;
    margin: 25px;
}

#container #section #teclas button {
    background-color: var(--bg-keys);
    color: var(--color-keys);
    height: 80px;
    width: 100px;
    font-weight: bold;
    font-size: 22px;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 5px 3px var(--box-shadow-color);
}

#container #section #teclas button:hover {
    background-color: var(--bg-keys-hover);
    color: var(--color-keys-hover);
    box-shadow: 2px 5px 3px var(--box-shadow-color-hover);
}

#container #section #teclas button:active {
    background-color: var(--bg-keys-active);
    color: var(--color-keys);
    box-shadow: none;
}

#container #section #teclas table tr td button.special {
    background-color: var(--bg-special-keys);
    color: var(--color-special-keys);
    box-shadow: 0 5px 4px var(--box-shadow-special-color);
    font-weight: bold;
}

#container #section #teclas table tr td button.special:hover {
    background-color: var(--bg-special-keys-hover);
    color: var(--color-special-keys);
    box-shadow: 0 5px 4px var(--box-shadow-color-special-hover);
    font-weight: bold;
}

#container #section #teclas table tr td button.special:active {
    background-color: var(--bg-special-keys-active);
    color: var(--color-special-keys);
    box-shadow: none;
}

#container #section #teclas table tr td button.lasts {
    width: 212px;
    justify-content: center;
}

#container #section #teclas table tr td button.finish {
    background-color: var(--bg-color-finish);
    color: var(--color-special-keys-hover);
}

#container #section #teclas table tr td button.finish:hover {
    background-color: var(--bg-color-finish-hover);
    color: var(--color-special-keys-hover);
    box-shadow: 0 5px 4px var(--box-shadow-color-finish-hover);
}

#container #section #teclas table tr td button.finish:active {
    background-color: var(--bg-color-finish-active);
    box-shadow: none;
}


@media (width < 700px) {

    *{
        margin: 0;
        padding: 0;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: var(--bg-color);
        font-weight: 900;
        margin: auto;
        width: 500px;
        margin-top: 80px;
    }
    
    #container {
        display: flex;
        width: 100%;
    }
    
    #calculadora {
        background: #17153b93;
        border-radius: 50px;
    }

    #container #section #tela #result {
        background-color: var(--bg-tela);
        height: 70px;
        width: 380px;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        border-radius: 30px;
        border: none;
    }

    #container #section #teclas table {
        width: 200px;
    }

    #container #section #teclas button {
        background-color: var(--bg-keys);
        color: var(--color-keys);
        height: 60px;
        width: 80px;
        font-weight: bold;
        font-size: 20px;
        border-radius: 15px;
        border: none;
        box-shadow: 2px 5px 3px var(--box-shadow-color);
    }

    #container #section #teclas table tr td button.lasts {
        width: 170px;
        justify-content: center;
    }

}