* {
    margin: 5px;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    margin: auto;
    width: 600px;
}

#container #header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container #header h3 {
    color: rgb(255, 174, 0);
    font-weight: bold;
    font-size: 60px;
}

#container #section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container #section #tela #result {
    height: 60px;
    width: 500px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#container #section #teclas {
    margin-top: 20px;
}

#container #section #teclas table {
    padding: 10px;
    width: 100%;
}

#container #section #teclas table tr {
    display: flex;
    
}

#container #section #teclas button {
    height: 80px;
    width: 110px;
    font-weight: bold;
    font-size: 20px;
}

#container #section #teclas table tr td button.special {
    background-color: rgb(107, 43, 226);
    color: rgb(252, 227, 3);
}

#container #section #teclas table tr td button.lasts {
    width: 240px;
    justify-content: center;
}